textBorderColor =  #000
textBorder = textBorderColor 1px 1px 0, textBorderColor -1px -1px 0, textBorderColor -1px 1px 0, textBorderColor 1px -1px 0

body
	background #13171C
	text-shadow textBorder 
#canvas
	width 600px
	height 700px
	background #EDBBDE url("../bgcanvas.jpg")
	margin auto
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	-webkit-box-shadow 0 0 0 3px #873074
	box-shadow 0 0 0 3px #873074
	cursor crosshair

aside
	width 600px
	height 700px
	margin 0 auto 
	display block 

.disc
	color white
	padding 0
	line-height 0
	font-size 15px 
	position relative 
	z-index 5 