doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Particl Generator
		link(rel="stylesheet", type="text/css", href="css/styles.css")
	body
		aside
			canvas#canvas
			.disc
				h4 Управление:
				p Колесико мыши вверх/низ: продолжительность жизни частиц
				p Колесико мыши вверх/низ c шифтом: разброс частиц
				p Колесико мыши вверх/низ с альтом: размер частиц
		script(type="application/javascript", src="js/scripts.js")