extends layout

block head

block content
	h1= title
	p Давай #{body}
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quos tenetur veritatis aut beatae repudiandae nihil sequi architecto omnis error, iure, placeat, nobis quod neque. Natus doloribus, est officia sunt commodi, molestiae eum iste ad dolorem corporis vitae voluptas, nulla error. Sit distinctio suscipit dolor perferendis, eveniet nesciunt ut eos laboriosam. Nostrum porro explicabo labore numquam et temporibus tempora consequuntur beatae eos laudantium. Aliquam aspernatur placeat voluptas quibusdam maiores asperiores, nihil dolorem, odio accusamus vero ab expedita neque iure ea incidunt necessitatibus autem numquam, cum nemo! Delectus nulla praesentium nihil soluta sed veniam esse atque nam eum quasi. Minus sit nam blanditiis laborum eum iusto voluptatum, fugiat voluptatem labore similique totam modi libero dolor, pariatur fuga amet aperiam dolorem minima saepe, earum id facere. Voluptatem tempora, expedita rem. Obcaecati soluta aut eveniet, esse perspiciatis reiciendis tempora eum aspernatur asperiores saepe maiores, nihil enim fugiat beatae architecto sequi consequuntur recusandae magni. Nemo, debitis excepturi cum quos tenetur explicabo esse praesentium iusto sit minus, aliquam consequatur nostrum veniam nihil sed culpa alias libero quisquam provident magni illo, saepe, commodi assumenda hic magnam? Nihil molestias expedita, consectetur soluta aperiam, quae rerum debitis officiis odit, at sunt voluptatem repellendus velit fuga deserunt blanditiis veniam!