doctype
html(lang="en")
head
	meta(charset="UTF-8")
	title Snap.svg
	link(rel="stylesheet", type="text/css", href="css/main.css")
	link(rel="stylesheet", type="text/css", href="css/jackedup.css")
body
	script(type="application/javascript", src="js/snap.svg-min.js")
	script(type="application/javascript", src="js/humane.min.js")
	script(type="application/javascript", src="js/all.min.js")